<launch>
  <arg name="prefix" default="mini_bringup" />
 
  <node name="rosseiral_core" pkg="rosserial_python" type="serial_node.py" output="screen">
    <param name="port" type="string" value="/dev/ttyACM0" />
    <param name="baud" type="int" value="115200" />
  </node>

  <include file="$(find rplidar_ros_for_mini)/launch/rplidar_a3_mini.launch"/>

  <!-- static tf publisher -->
  <node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0.207 0 0 0 1 base_footprint base_link 30" />

  <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="0.055 0 0 0 0 0 1 base_link laser 30" />

  <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="-0.116 0 -0.182 0 0 0 1 base_link imu_link 30" />

  <node pkg="tf" type="static_transform_publisher" name="wheel_front_right_broadcaster" args="0 -0.1765 -0.207 0 0 0 1 base_link wheel_front_right_link 30" />

  <node pkg="tf" type="static_transform_publisher" name="wheel_front_left__broadcaster" args="0 0.1765 -0.207 0 0 0 1 base_link wheel_front_left_link 30" />

  <node pkg="tf" type="static_transform_publisher" name="wheel_back_right_broadcaster" args="-0.2645 0.0825 -0.207 0 0 0 1 base_link wheel_back_right_link 30" />
  
  <node pkg="tf" type="static_transform_publisher" name="wheel_back_left_broadcaster" args="-0.2645 -0.0825 -0.207 0 0 0 1 base_link wheel_back_left_link 30" />

 </launch>
