<launch>

  # 파라미터 설정
  <arg name="robot_pose_x" value="4.4"/>    # 이동로봇의 초기자세
  <arg name="robot_pose_y" value="1.6"/>
  <arg name="robot_pose_Y" value="1.0"/>
  <arg name="robot_vel_lin" value="0.26"/>  # 이동로봇의 최고속도
  <arg name="robot_vel_ang" value="1.0"/>

  # 환경 시뮬레이션
  <include file="$(find shared_control)/launch/gazebo.launch">
    <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
    <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
    <arg name="robot_pose_Y" value="$(arg robot_pose_Y)"/>
    <arg name="gui" value="false"/>
  </include>

  # 이동로봇 제어
  <include file="$(find shared_control)/launch/navigation.launch">
    <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
    <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
    <arg name="robot_pose_Y" value="$(arg robot_pose_Y)"/>
  </include>
  <include file="$(find shared_control)/launch/shared_control.launch"/>

  # 인터페이스
  <node pkg="shared_control" type="interface.py" name="interfacer" output="screen">
    <!-- <param name="robot_vel_lin" value="$(arg robot_vel_lin)"/>
    <param name="robot_vel_ang" value="$(arg robot_vel_ang)"/>
    <param name="spin_cycle" value="0.1"/> -->
  </node>
  <node pkg="rviz" type="rviz" name="rviz" respawn="true"
        args="-d $(find shared_control)/rviz/develop.rviz"/>

</launch>
