<launch>
  # 시뮬레이션 환경에 놓인 로봇을 문답식으로 제어한다.
  # 로봇: Turtlebot3 waffle(gamma)
  # 제어방식: 공유제어, 키보드 awsd(motorimagery)와 23(eyeblink) 혹은 BCI

  # 파라미터 설정
  <arg name="robot_pose_x" value="18.3"/>   # 이동로봇의 초기자세
  <arg name="robot_pose_y" value="19.5"/>
  <arg name="robot_pose_Y" value="1.57"/>
  <arg name="robot_vel_lin" value="0.22"/>  # 이동로봇의 최고속도
  <arg name="robot_vel_ang" value="1.0"/>

  # 환경 시뮬레이션
  <node pkg="map_server" type="map_server" name="map_server" args="$(find shared_control)/map/L81.yaml"/>

  <include file="$(find shared_control)/launch/gazebo.launch">
    <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
    <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
    <arg name="robot_pose_Y" value="$(arg robot_pose_Y)"/>
    <arg name="gui" value="false"/>
  </include>

  # 이동로봇 제어
  <include file="$(find shared_control)/launch/navigation.launch">
    <arg name="robot_pose_x" value="$(arg robot_pose_x)"/>
    <arg name="robot_pose_y" value="$(arg robot_pose_y)"/>
    <arg name="robot_pose_Y" value="$(arg robot_pose_Y)"/>
  </include>

  <node pkg="shared_control" type="task_plan.py" name="task_planner" output="screen">
    <param name="robot_vel_lin" value="$(arg robot_vel_lin)"/>
    <param name="robot_vel_ang" value="$(arg robot_vel_ang)"/>
  </node>

  # 인터페이스
  <node pkg="shared_control" type="interface.py" name="interfacer" output="screen"/>
  <node pkg="rviz" type="rviz" name="rviz" respawn="true"
        args="-d $(find shared_control)/rviz/indirect_control.rviz"/>

</launch>
