<launch>

  # 주행환경 구축
  <!-- <node pkg="shared_control" type="spatial_info_manage.py" name="spatial_info_manager" output="screen">
    <param name="gvd_PM" value="10.0"/>
    <param name="gvd_BM" value="3.74"/>
    <param name="gvg_minimum_path_distance" value="0.1"/>
    <rosparam param="custom_edge_list_x1"> [-4.8, 4.2, 1.4, 1.4, 1.4, 3.4, 6.2, 0.6, 0.6,-5.4,-3.4,-3.4,-3.4] </rosparam>
    <rosparam param="custom_edge_list_y1"> [-4.4,-4.4,-0.6,-0.6,-0.6, 1.8, 1.6, 0.0, 0.0,-0.2, 1.8, 1.8, 1.8] </rosparam>
    <rosparam param="custom_edge_list_x2"> [ 1.2, 1.2, 1.2, 0.6, 5.0, 5.0, 5.0, 1.4,-2.6,-2.6,-2.6,-1.8,-4.6] </rosparam>
    <rosparam param="custom_edge_list_y2"> [-2.2,-2.2,-2.2, 0.0, 0.0, 0.0, 0.0, 3.2, 0.4, 0.4, 0.4, 2.8, 3.0] </rosparam>
  </node> -->
  <node pkg="shared_control" type="spatial_info_manage.py" name="spatial_info_manager" output="screen">
    <param name="gvd_PM" value="5.0"/>
    <param name="gvd_BM" value="4.4"/>
    <param name="gvg_minimum_path_distance" value="0.5"/>
    <!-- <rosparam param="custom_edge_list_x1"> [1.2, 0.9, 0.9, 0.9, 0.9, 2.4, 2.4, 4.5, 4.5, 4.5, 4.5] </rosparam>
    <rosparam param="custom_edge_list_y1"> [1.5, 2.7, 2.7, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 2.7, 2.7] </rosparam>
    <rosparam param="custom_edge_list_x2"> [0.9, 1.5, 0.9, 0.75, 2.4, 2.4, 4.5, 4.95, 4.5, 4.5, 4.2] </rosparam>
    <rosparam param="custom_edge_list_y2"> [2.7, 2.7, 4.5, 5.1, 4.5, 5.1, 4.5, 4.95, 2.7, 2.1, 1.2] </rosparam> -->
  </node>

  # 공유제어
  <node pkg="shared_control" type="task_plan.py" name="task_planner" output="screen">
    <param name="robot_vel_ang" value="0.7"/>
  </node>

  # 평가
  <node pkg="shared_control" type="visualize.py" name="visualizer" output="screen">
    <param name="publish_cycle" value="0.3"/>
    <param name="MI_marker_len" value="1.0"/>
  </node>
  <node pkg="shared_control" type="evaluate.py" name="evaluator" output="screen">
    <param name="destination_margin" value="0.5"/>
    <!-- <rosparam param="destination_list_x"> [6.0] </rosparam>
    <rosparam param="destination_list_y"> [1.6] </rosparam> -->
    <param name="destination_spawn_x_min" value="0.0"/>
    <param name="destination_spawn_x_max" value="5.4"/>
    <param name="destination_spawn_y_min" value="0.0"/>
    <param name="destination_spawn_y_max" value="6.6"/>
  </node>

</launch>
