<launch>

  <node pkg="shared_control" type="fake_robot.py" name="fake_robot" output="screen">
    <param name="sim_cycle" value="0.1"/>
    <param name="robot_x" value="0.8"/>
    <param name="robot_y" value="-1.2"/>
    <param name="robot_th" value="87"/>
    <param name="robot_velocity" value="0.5"/>
    <param name="goal_margin" value="0.01"/>
  </node>

  <include file="$(find shared_control)/launch/shared_control.launch"/>

  <node pkg="shared_control" type="fake_bci.py" name="fake_bci" output="screen"/>

  <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find shared_control)/rviz/simple_test.rviz"/>

</launch>
