<launch>

  <node pkg="map_server" type="map_server" name="map_server" args="$(find shared_control)/map/map.yaml"/>

  <node pkg="shared_control" type="fake_robot.py" name="fake_robot" output="screen">
    <param name="robot_x" value="1.2"/>
    <param name="robot_y" value="3.9"/>
    <param name="robot_th" value="87"/>
  </node>

</launch>
