<launch>

  # 파라미터 설정(단위: m, rad, s)
  <arg name="ang_vel_intersection" default="0.6"/>    # 교차로에서의 회전속도
  <arg name="ang_fwd_threshold" default="0.6"/>       # 직진경로인정 최소각도

  <arg name="dist_alarm_1" default="5.0"/>            # 알림거리 1
  <arg name="dist_alarm_2" default="3.0"/>            # 알림거리 2: 명령 요청지점

  <arg name="map" default="L81_20190812"/>            # 주행환경
  <arg name="gzb" default="false"/>                   # Gazebo 실행여부

  # 환경 시뮬레이션
  <node pkg="map_server" type="map_server" name="map_server" args="$(find shared_control)/map/$(arg map).yaml"/>
  <group if="$(arg gzb)">
    <include file="$(find shared_control)/launch/gazebo.launch">
      <arg name="map" value="L81_gazebo"/>
      <arg name="gui" value="false"/>
    </include>
  </group>

  # 공간구조 구축
  <node pkg="shared_control" type="spatial_info_manage.py" name="spatial_info_manager" output="screen">
    <param name="gvd_PM" value="5.0"/>
    <param name="gvd_BM" value="4.4"/>
    <param name="gvg_minimum_path_distance" value="0.5"/>
    <rosparam param="custom_edge_list_x1"> [0.0, 5.3, 14.9, 23.1, 2.3, 4.8, 22.6, 5.8, 4.8, 25.1, 22.6, 23.1, 14.9] </rosparam>
    <rosparam param="custom_edge_list_y1"> [0.0, 0.2, 0.6, 0.8, 12.0, 12.4, 13.2, 15.4, 12.4, 14.8, 13.2, 0.8, 0.6] </rosparam>
    <rosparam param="custom_edge_list_x2"> [5.3, 14.9, 23.1, 32.7, 4.8, 22.6, 30.0, 4.8, 5.3, 22.6, 23.1, 25.8, 15.7] </rosparam>
    <rosparam param="custom_edge_list_y2"> [0.2, 0.6, 0.8, 1.0, 12.4, 13.2, 13.7, 12.4, 0.2, 13.2, 0.8, -1.9, -1.5] </rosparam>
  </node>

  # 이동로봇 제어
  <include file="$(find shared_control)/launch/navigation.launch"/>
  <node pkg="shared_control" type="task_plan.py" name="task_planner" output="screen">
    <param name="ang_vel_intersection" value="$(arg ang_vel_intersection)"/>
    <param name="ang_fwd_threshold" value="$(arg ang_fwd_threshold)"/>
    <param name="dist_alarm_1" value="$(arg dist_alarm_1)"/>
    <param name="dist_alarm_2" value="$(arg dist_alarm_2)"/>
  </node>

  # 인터페이스
  <node pkg="shared_control" type="interface.py" name="interfacer" output="screen"/>
  <node pkg="rviz" type="rviz" name="rviz" respawn="true"
    args="-d $(find shared_control)/rviz/start.rviz"/>

</launch>
